

html {
    background: #f5f7f8;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
}
section
{
    margin:20px;
}
.header {
    overflow: hidden;
    background-color: #2f2f2c;
    padding: 20px 10px;
}


/* Style the header links */
.header a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: #05c2b4;
    color: #090900;
}

/* Float the link section to the right */
.header-left {
    float: left;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-left {
        float: none;
    }
}

#myBtn {

    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #05c2b4;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

}

#myBtn:hover {
    background-color: #555;
}


.band {
    width: 90%;
   max-width: 1240px;
    margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: auto;
   grid-gap: 20px;
}
@media (min-width: 30em) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 60em) {
    .band {
       grid-template-columns: repeat(4, 1fr);
   }
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
.card p {
    flex: 1;
    line-height: 1.4;
}
.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1/span 2;
    }
    .item-1 h1 {
        font-size: 24px;
    }
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer-dark .item.social > a:hover {
    opacity:0.9;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}