<!DOCTYPE html>
<html lang="en">
<head>
<title>Submit Form</title>
</head>
<body>
<form action="">
    <label for="title">
        News Title
    </label>
    <br>
    <input
            type="text"
            name="title"
            id="title"
            placeholder="Article title"
            required
    >
    <br>
    <br>
    <label for="Description">
        Description
    </label>
    <br>
    <label for="description"></label><input
            type="text"
            name="description"
            id="description"
            placeholder="Description"
    >
<br>
    <br>
    <label for="author">
        Author, Name/Surname
    </label>
    <br>
    <input
            type="text"
            name="author"
            id="author"
            placeholder="Name Surname"
    >
    <br>
    <br>
    <label>
        <button type="submit">
            Submit
        </button>
    </label>
</form>

</body>
</html>